<div class="animate__animated animate__bounceInUp">
    <h2>Por País</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-pais-input
                (onEnter)="buscar( $event )"
                (onDebounce)="sugerencias( $event )"
                placeholder="Buscar País..."
            ></app-pais-input>
        </div>
    </div>

    <ul class="list-group" *ngIf="estaMostrandoSugerencias">
        <li 
            *ngFor="let paisSugerido of paisesSugeridos"
            class="list-group-item list-group-item-action">
            <a
                class="nav-link" 
                [routerLink]="['/pais', paisSugerido.alpha3Code]"
                >{{ paisSugerido.name }}
            </a>
        </li>
        <li 
            class="list-group-item list-group-item-action"
            (click)="buscarSugerido(termino)">
            <a class="nav-link">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>
    
    <hr>
    
    <div class="alert alert-danger" *ngIf="hayError">
        No sé encontró nada con el término <strong>"{{ termino }}"</strong>
    </div>
    
    <div class="row" *ngIf="!hayError">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>
