<h2>Búsquedas</h2>
<hr>
<ul class="list-group">
    <li 
        class="list-group-item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Buscar País</li>
    <li 
        class="list-group-item"
        routerLink="region"
        routerLinkActive="active"
        >Buscar Región</li>
    <li 
        class="list-group-item"
        routerLink="capital"
        routerLinkActive="active"
    >Buscar Capital</li>
</ul>