<table 
    class="table table-hover" 
    *ngIf="paises.length >= 1">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> País </th>
            <th> Capital </th>
            <th> Población </th>
            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" class="animate__animated animate__bounceInUp">
            <td> {{ i+1 }} </td>
            <td> 
                <img
                    class="small-flag" 
                    [src]="pais.flag" alt=""
                >    
            </td>
            <td> {{ pais.name }} </td>
            <td> {{ pais.capital }} </td>
            <td> {{ pais.population | number }} </td>
            <td> 
                <a [routerLink]="['/pais', pais.alpha3Code]">Ver...</a>     
            </td>
        </tr>
    </tbody>
</table>