
<div class="animate__animated animate__bounceInUp">
    <h3>Buscar Por Región: <small>{{ regionActiva | titlecase }}</small> </h3>
    
    <hr>
    
    <h5>Seleccione una región</h5>
    
    <div class="row">
        <div class="col">
    
            <!-- [class.btn-dark]="region === regionActiva" -->
    
            <!-- [ngClass]="{
                'btn-dark': regionActiva === region,
                'btn-outline-dark': regionActiva !== region
            }" -->
    
            <button 
                *ngFor="let region of regiones"
                [class]="getClaseCSS(region)"
                (click)="activarRegion(region)" >
                {{ region | titlecase }}
            </button>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>
